{{ template "header" . }}
<h1>Telegram-бот</h1>
<p>Частью функционала RacoonMediaServer удобно управлять с помощью Telegram-бота. Для авторизации необходимо
    скопировать код идентификации и прислать его боту.</p>
<table>
    <tr>
        <td rowspan="3" width="80"><img src="/img/telegram.png" width="60" height="60"/></td>
        <td>Бот: <a href="{{ .BotLink }}">@{{ .BotID }}</a></td>
    </tr>
    <tr>
        <td>
            Код идентификации: <label id="identificationCode"><b>{{.IdentificationCode }}</b></label>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="copy-button" onclick="return copyToClipboard(this,'identificationCode');"
                   value="Скопировать"/>
        </td>
    </tr>
</table>
{{ template "footer" }}