{{ template "header" . }}
<h1>Заметки</h1>
<form action="/settings/notes" method="post">
    <table cellspacing="10">
        <tr>
            <td><label for="directory">Директория Obsidian (относительно корня директории Nextcloud): </label></td>
            <td><input type="text" id="directory" name="directory"
                       value="{{.Settings.Directory}}"/></td>
        </tr>

        <tr>
            <td><label for="notesDirectory">Директория, в которую добавлять заметки чере бот (относительно директории Obsidian): </label></td>
            <td><input type="text" id="notesDirectory" name="notesDirectory"
                       value="{{.Settings.NotesDirectory}}"/></td>
        </tr>

        <tr>
            <td><label for="tasksFile">Путь к файлу с добавляемыми через бот задачами (относительно директории Obsidian): </label></td>
            <td><input type="text" id="tasksFile" name="tasksFile"
                       value="{{.Settings.TasksFile}}"/></td>
        </tr>

        <tr>
            <td><label for="notificationTime">Время уведомления об актуальных на сегодня задачах (0-23): </label></td>
            <td><input type="number" id="notificationTime" name="notificationTime" min="0" max="23"
                       value="{{.Settings.NotificationTime}}"/></td>
        </tr>

        <tr>
            <td><input type="submit" class="save-button" value="Сохранить"/></td>
        </tr>
    </table>
</form>
{{ template "footer" }}